article {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    max-width: 93vw;
    
    div.info {
        div.top {
            span {
                font-size: 80%;
                color: $fgc2;
            }

            a {
                color: $fgc2;
                text-decoration: none;

                &:hover {
                    text-decoration: underline
                }
            }
        }

        h1.title {
            @include util-header(175%, '', 'ยง');
            margin: 0px;
            line-height: 125%;
        }

        div.bottom {
            margin-top: 2px;

            a {
                color: $fgc2;
                font-size: 80%;
                text-decoration: none;

                &:hover {
                    text-decoration: underline
                }
            }
        }
    }

    div.md-content {
        margin-top: 18px;
        margin-bottom: 0px;

        div.toc {
            span {
                font-weight: bold;
            }
        }
    }
}