* {
    box-sizing: border-box;
    font-family: 'Bitter', 'Source Han Sans TW', 'Noto Sans TC', sans;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: $bgc;
    font-size: $font-size;

    main {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

::selection {
    color: $selection-fg;
    background-color: $selection-bg;
}
::-moz-selection {
    color: $selection-fg;
    background-color: $selection-bg;
}