.md-content {
    
    // highlight
    div.highlight {
        margin: 20px 0px;
        
        & > pre { // inline mode
            width: $width;

            & > code {
                @extend .pygments;
                color: $fgc1;
                font-size: $font-size * 0.85;
                line-height: $font-size * 0.85 * 1.35;

                span {
                    font-family: 'Oxygen Mono', monospace;
                }
                span.ln {
                    color: lighten($fgc1, 30%);
                    margin-right: 20px;
                }
            }
        }

        table.lntable { // table mode
            width: calc(#{$width} + 39px);
            margin: 0px 0px 0px -43px;
            padding: 0px;
            border: none;
            overflow-x: auto;
            overflow-y: hidden;
            
            tbody, tr, td, pre, code {
                margin: 0px;
                padding: 0px;
                border: none;
            }
            
            td:first-child { // linenos
                background-color: $bgc;
                vertical-align: top;
                
                pre {
                    width: 40px;
                    padding: 11px 0px; // padding + border;
                    background-color: $bgc;

                    code {
                        color: #ddd; // overwrite the color of general code
                        font-size: $font-size * 0.85;
                        line-height: $font-size * 0.85 * 1.35;
                        
                        span.lnt {
                            font-family: 'Oxygen Mono', monospace;
                            display: block;
                            background-color: $bgc;
                        }
                    }
                }
            }
            
            td:last-child { // code body
                background-color: #fff;
                vertical-align: top;
                
                pre {
                    width: $width;
                    padding: 10px;
                    border: 1px solid #ccc;

                    code {
                        @extend .pygments;
                        color: $fgc1; // overwrite the color of general code
                        font-size: $font-size * 0.85;
                        line-height: $font-size * 0.85 * 1.35;

                        span {
                            font-family: 'Oxygen Mono', monospace;
                        }
                    }
                }
            }
        }
    }

    // gist
    div.gist {
        width: $width;
        margin: 20px auto;

        div.gist-data {
            overflow-y: hidden;
            span {
                font-family: 'Oxygen Mono', monospace;
            }
        }
    }

    // figure
    figure {
        display: flex;
        flex-direction: column;
        margin: 0px auto;

        * {
            margin: 0px auto;
        }

        img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        h4 {
            margin: 5px auto 10px auto;
            font-size: 95%;
            font-weight: normal;
        }
    }

    // tweet
    twitterwidget {
        margin: 20px auto;
    }
}