.md-content {

    // highlight
    div.highlight {
        margin: 20px 0px;

        & > pre { // inline mode
            width: $width;
            @media screen and (max-width: $width) {
                width: 93vw;
            }
            font-size: $font-size * 0.80;
            line-height: 150%;

            & > code {
                @extend .pygments;
                color: $fgc1;
                background-color: rgba(0, 0, 0, 0);
                font-size: $font-size * 0.80;

                span {
                    font-family: 'Fira Code', monospace;
                }
                span.ln {
                    color: #aaa;
                    margin-right: 20px;
                }
                span.hl {
                    span.ln {
                        color: $fgc1;
                        font-weight: bold;
                    }
                }
            }
        }

        table.lntable { // table mode
            width: $width;
            @media screen and (max-width: $width) {
                max-width: 93vw;
            }
            display: block;
            margin: 0px;
            padding: 0px;
            border: none;
            border: 1px solid #ccc;
            overflow-x: auto;
            overflow-y: hidden;
            background-color: #fff;

            tbody, tr, td, pre, code {
                margin: 0px;
                padding: 0px;
                border: none;
            }

            td:first-child { // linenos
                vertical-align: top;
                pre {
                    width: 30px;
                    padding: 10px 0px;
                    text-align: right;

                    code {
                        font-size: $font-size * 0.80;
                        line-height: 150%;
                        span.lnt {
                            font-family: 'Fira Code', monospace;
                            display: block;
                            color: #aaa;
                        }
                        span.hl {
                            span.lnt {
                                color: $fgc1;
                                font-weight: bold
                            }
                        }
                    }
                }
            }

            td:last-child { // code body
                vertical-align: top;
                padding: 10px 5px 10px $font-size;
                pre.chroma {
                    width: auto;
                    font-size: $font-size * 0.80;
                    line-height: 150%;

                    code {
                        @extend .pygments;
                        color: $fgc1;
                        span {
                            font-size: $font-size * 0.80;
                            font-family: 'Fira Code', monospace;
                        }
                    }
                }
            }
        }
    }

    // gist
    div.gist {
        width: $width;
        @media screen and (max-width: $width) {
            width: 93vw;
        }
        margin: 20px auto;

        div.gist-data {
            overflow-y: hidden;
            span {
                font-family: 'Fira Code', monospace;
            }
        }
    }

    // figure
    figure {
        display: flex;
        flex-direction: column;
        margin: 0px auto;

        img {
            max-width: 700px;
            margin: 0px auto;
        }

        @media screen and (max-width: $width) {
            img {
                max-width: 93vw;
            }
        }

        figcaption {
            margin: 0px auto;
            h4 {
                margin: 5px auto 10px auto;
                font-size: 95%;
                font-weight: normal;
                color: $fgc1;
            }
        }
    }

    // tweet
    twitterwidget {
        margin: 20px auto;
    }
}
