div.fab {
    position: fixed;
    top: 10px;
    right: 10px;
    a {
        font-size: 80%;
        color: rgba($fgc3, 0.3);
        text-decoration: none;

        @media screen and (min-width: $width) {
            &:hover {
                color: $fgc3;
            }
        }
    }
}