footer {
    width: $width;
    @media screen and (max-width: $width) {
        width: 93vw;
    }
    margin: 20px auto 30px auto;
    display: flex;
    flex-direction: column;

    @media print {
        display: none;
    }

    p {
        margin: 0px auto;
        color: lighten($fgc1, 45%);
        font-size: 85%;
        font-family: 'Roboto Slab', 'Source Han Sans TW', 'Noto Sans TC', serif;

        a {
            color: lighten($fgc1, 45%);
            text-decoration: none;

            &:hover {
                color: lighten($fgc1, 10%);
            }
        }
    }
}
