@mixin util-header($content, $scale) {
    font-weight: bold;
    font-size: $scale;
    line-height: $scale;
    color: $fgc1;

    &:before {
        font-weight: normal;
        content: $content;
        position: absolute;
        margin-top: 2px;
        margin-left: -50px;
        color: #ddd;
        font-size: 65%;
    }
}

.md-content {

    // paragraph
    p {
        white-space: pre-wrap;
        font-size: 105%;
        line-height: 150%;
        letter-spacing: 0.4px;
        word-spacing: 2.4px;
    }

    p + p {
        margin-top: 15px;
    }

    // inline literal
    code {
        padding-left: 5px;
        padding-right: 5px;
        color: $fgc4;
        font-family: 'Oxygen Mono', monospace;
        font-size: 95%;
    }

    // hyperlink
    a {
        color: $fgc3;
        text-decoration: none;

        &:hover {
            color: lighten($fgc3, 10%);
        }
    }

    // list
    ul, ol {
        li {
            line-height: 150%;
        }
    }

    // header
    & > h1 { @include util-header('H1', 180%); }
    & > h2 { @include util-header('H2', 150%); }
    & > h3 { @include util-header('H3', 140%); }
    & > h4 { @include util-header('H4', 130%); }
    & > h5 { @include util-header('H5', 120%); }
    & > h6 { @include util-header('H6', 110%); }

    // general code block
    pre {
        width: $width;
        margin: 25px 0px;
        padding: 10px 10px;
        border: 1px solid #ccc;
        white-space: pre-wrap;
        font-family: 'Oxygen Mono', monospace;
        background-color: lighten($bgc, 2%);
        overflow-x: auto;
        overflow-y: hidden;
        
        & > code {
            color: $fgc1;
            padding: 0px;
            font-size: 85%;
            line-height: 0.85 * 1.35;
            overflow-y: hidden;
        }
    }

    // blockquote
    blockquote {
        margin: 20px 0px;
        border-left: 2px solid #ddd;
        padding-left: 38px;
        
        p {
            width: calc(100% - 40px);
            line-height: 150%;
            white-space: pre-wrap;
        }
    }

    // image
    p > img {
        max-width: $width;
        margin: 20px 0px;
    }

    // hr 
    hr {
        margin: 24px 0px;
        border-color: rgba(255, 255, 255, 0.4);
    }

    // table (general table)
    table:not(.lntable) {
        margin: 20px auto;
        border-collapse: collapse;
        font-size: 100%;

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        tbody {
            border-top: 2px double #ccc;
        }

        thead {
            tr {
                color: black;
                background-color: $bgc;
            }
        }

        tbody {
            tr:nth-child(odd) {
                background-color: #f4f4f4;
            }
        }
    }

    // highlight
    div.highlight {
        margin: 20px 0px;
        
        & > pre { // inline mode
            width: $width;

            & > code {
                @extend .pygments;
                color: $fgc1;
                font-size: $font-size * 0.85;
                line-height: $font-size * 0.85 * 1.35;

                span {
                    font-family: 'Oxygen Mono', monospace;
                }
                span.ln {
                    color: lighten($fgc1, 30%);
                    margin-right: 20px;
                }
            }
        }

        table.lntable { // table mode
            width: calc(#{$width} + 39px);
            margin: 0px 0px 0px -43px;
            padding: 0px;
            border: none;
            overflow-x: auto;
            overflow-y: hidden;
            
            tbody, tr, td, pre, code {
                margin: 0px;
                padding: 0px;
                border: none;
            }
            
            td:first-child { // linenos
                background-color: $bgc;
                vertical-align: top;
                
                pre {
                    width: 40px;
                    padding: 11px 0px; // padding + border;
                    background-color: $bgc;

                    code {
                        color: #ddd; // overwrite the color of general code
                        font-size: $font-size * 0.85;
                        line-height: $font-size * 0.85 * 1.35;
                        
                        span.lnt {
                            font-family: 'Oxygen Mono', monospace;
                            display: block;
                            background-color: $bgc;
                        }
                    }
                }
            }
            
            td:last-child { // code body
                background-color: #fff;
                vertical-align: top;
                
                pre {
                    width: $width;
                    padding: 10px;
                    border: 1px solid #ccc;

                    code {
                        @extend .pygments;
                        color: $fgc1; // overwrite the color of general code
                        font-size: $font-size * 0.85;
                        line-height: $font-size * 0.85 * 1.35;

                        span {
                            font-family: 'Oxygen Mono', monospace;
                        }
                    }
                }
            }
        }
    }

    // gist
    div.gist {
        width: $width;
        margin: 20px auto;

        div.gist-data {
            overflow-y: hidden;
            span {
                font-family: 'Oxygen Mono', monospace;
            }
        }
    }

    // figure
    figure {
        display: flex;
        flex-direction: column;
        margin: 0px auto;

        * {
            margin: 0px auto;
        }

        img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        h4 {
            margin: 5px auto 10px auto;
            font-size: 95%;
            font-weight: normal;
        }
    }

    // tweet
    twitterwidget {
        margin: 20px auto;
    }

    // jupyter notebook
    div.jupyter-notebook {
        & > iframe {
            width: 1.2 * $width;
            border: none;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // admonition
    div.admonition {
        display: flex;
        flex-direction: column;
        width: $width;
        margin: 20px auto;
        border: 1px solid #e3e3e3;
        background-color: #f5f5f5;

        span.title {
            width: 100%;
            margin: 0px;
            padding: 7px 15px;
            font-size: 100%;
            line-height: 100%;
            color: white;
        }
        div.content {
            padding: 0px 15px;
        }
    }

    // Colro square
    span.colorsq {
        display: inline-block;
        width: $font-size * 0.8;
        height: $font-size * 0.8;
        border: none;
    }

    // Expansion
    div.expansion {
        width: $width;
        margin: 20px auto;

        input {
            display: none;
        }

        label {
            color: $fgc1;
            position: relative;
            &:hover {
                color: lighten($fgc1, 15%);
            }
            &:before {
                content: "\229e";
                position: absolute;
                left: -25px;
            }
        }

        div.content {
            height: 0px;
            overflow: hidden;
            transition: height 0.5s;
            display: flex;
            flex-direction: column;
        }

        #ck1:checked ~ #lb1:before { content: "\229f"; }
        #ck1:checked ~ #in1 { height: auto; overflow: initial; }

        #ck2:checked ~ #lb2:before { content: "\229f"; }
        #ck2:checked ~ #in2 { height: auto; overflow: initial; }

        #ck3:checked ~ #lb3:before { content: "\229f"; }
        #ck3:checked ~ #in3 { height: auto; overflow: initial; }

        #ck4:checked ~ #lb4:before { content: "\229f"; }
        #ck4:checked ~ #in4 { height: auto; overflow: initial; }

        #ck5:checked ~ #lb5:before { content: "\229f"; }
        #ck5:checked ~ #in5 { height: auto; overflow: initial; }
    }
}