.md-content {

    // paragraph
    p {
        color: $fgc1;
        white-space: pre-wrap;
        font-size: 105%;
        line-height: 150%;
        letter-spacing: 0.2px;
        word-spacing: 2px;
    }

    p + p {
        margin-top: 15px;
    }

    // inline literal
    code {
        padding-left: 5px;
        padding-right: 5px;
        color: $fgc4;
        background-color: hsl(0, 0, 96%);
        font-family: 'Oxygen Mono', monospace;
        font-size: 90%;
        overflow-wrap: break-word;
    }

    // hyperlink
    a {
        color: $fgc3;
        text-decoration: none;
        overflow-wrap: break-word;

        &:hover {
            color: lighten($fgc3, 10%);
        }
    }

    // list
    ul, ol {
        li {
            color: $fgc1;
            line-height: 150%;
        }
    }

    // header
    & { counter-reset: cnt_h1; }
    & > h1 { counter-reset: cnt_h2; }
    & > h2 { counter-reset: cnt_h3; }
    & > h3 { counter-reset: cnt_h4; }

    & > h1 { @include util-header(180%, cnt_h1,
        counter(cnt_h1) " "); }
    & > h2 { @include util-header(150%, cnt_h2,
        counter(cnt_h1) "." counter(cnt_h2) " "); }
    & > h3 { @include util-header(130%, cnt_h3,
        counter(cnt_h1) "." counter(cnt_h2) "." counter(cnt_h3) " "); }
    & > h4 { @include util-header(120%, cnt_h4,
        counter(cnt_h1) "." counter(cnt_h2) "." counter(cnt_h3) "." counter(cnt_h4) " "); }
    & > h5 { @include util-header(110%, '', ''); }
    & > h6 { @include util-header(110%, '', ''); }

    // general code block
    pre {
        width: $width;
        margin: 25px 0px;
        padding: 10px 10px;
        border: 1px solid #ccc;
        white-space: pre;
        font-family: 'Oxygen Mono', monospace;
        background-color: lighten($bgc, 2%);
        overflow-x: auto;
        overflow-y: hidden;

        @media screen and (max-width: $width) {
            width: 93vw;
        }

        & > code {
            color: $fgc1;
            background-color: rgba(0, 0, 0, 0);
            padding: 0px;
            font-size: 85%;
            line-height: 0.85 * 1.35;
            white-space: pre;
            overflow-y: hidden;
        }
    }

    // blockquote
    blockquote {
        margin: 20px 0px;
        border-left: 2px solid #ddd;
        padding-left: 38px;

        p {
            width: calc(100% - 40px);
            line-height: 150%;
            white-space: pre-wrap;
        }
    }

    // image
    p > img {
        width: $width;
        margin: 20px 0px;
        @media screen and (max-width: $width) {
            max-width: 93vw;
        }
    }

    // hr
    hr {
        margin: 24px 0px;
        border-color: rgba(255, 255, 255, 0.4);
    }

    // table (general table)
    table:not(.lntable) {
        margin: 20px auto;
        border-collapse: collapse;
        font-size: 100%;

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        tbody {
            border-top: 2px double #ccc;
        }

        thead {
            tr {
                color: black;
                background-color: $bgc;
            }
        }

        tbody {
            tr:nth-child(odd) {
                background-color: #f4f4f4;
            }
        }
    }

    // footnote
    div.footnotes {
        hr {
            // hr with centered text, code from
            // https://codepen.io/scottzirkel/pen/yNxNME
            position: relative;
            outline: 0;
            border: 0;
            text-align: center;
            height: $font-size * 1.3;

            &:before { // the line
                content: "";
                background: linear-gradient(to right, $bgc, $fgc1, $bgc);
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 1px;
            }

            &:after { // the text
                content: "Ref.";
                position: relative;
                display: inline-block;
                padding: 0 12px;
                line-height: $font-size * 1.3;
                color: $fgc1; // same color of line
                background-color: $bgc; // same color of background
            }
        }

        a.footnote-return { // back reference
            margin-left: 5px;
        }
    }
    sup.footnote-ref { // footnote in text
        font-size: 100%;
        line-height: 150%;
        margin: 0px;
        vertical-align: baseline;
        a::before {
            content: '[';
        }
        a::after {
            content: ']';
        }
    }
}
