@mixin util-header($content, $scale) {
    font-weight: bold;
    font-size: $scale;
    line-height: $scale;
    color: $fgc1;

    &:before {
        font-weight: normal;
        content: $content;
        position: absolute;
        margin-top: 2px;
        margin-left: -50px;
        color: #ddd;
        font-size: 65%;

        @media print {
            display: none;
        }
    }
}