<!DOCTYPE html>
<html lang="tw">
    <head>
        <title> {{ template "title" . }} </title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" type="image/jpeg" href="{{ .Site.Params.avatar | relURL }}" />
        
        <!-- zmd style & script -->
        <link rel="stylesheet" href="{{ "style.min.css" | relURL }}">

        <!-- anchor js -->


        <!-- Global site tag (gtag.js) - Google Analytics -->
        {{ if .Site.GoogleAnalytics }}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ .Site.GoogleAnalytics }}');
            </script>
        {{ end }}

        <!-- mathjax -->
        {{ if .GetParam "math" }}
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
            <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                asciimath2jax: {
                    delimiters: [['$$','$$']]
                },
                tex2jax: {
                    inlineMath: [['$[', ']$']],
                    displayMath: [['$[[', ']]$']],
                }
            });
            </script>
        {{ end }}

    </head>

    <body>
        <!-- header -->
        {{ partial "header" . }}

        <!-- content -->
        <main>
            {{ template "content" . }}
        </main>

        <!-- footer -->
        {{ partial "footer" . }}

        <!-- anchor js -->

</body>

</html>