<article>

    <!-- information -->
    <div class="info">
        <div class="top">
            <span title="Date">{{ .Date.Format "2006/01/02" }}</span>
            <span>@</span>
            <span>
                {{ range $i, $c := .Params.categories }}
                   {{ if gt $i 0 }}, {{ end }}
                   <a href="{{ $.Site.BaseURL }}/categories/{{ $c | urlize }}.html">{{ $c }}</a>
                {{ end }}
            </span>
        </div>

        <h1 class="title">{{ .Title }}</h1>

        <div class="bottom">
            {{ range .Params.tags }}
                <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}.html">{{ . }}</a>
            {{ end }}
        </div>
    </div>

    
    <!-- md content -->
    <div class="md-content">
        <!-- toc -->
        {{ with .Params.toc }}
            <div class="toc">
                <span>TOC</span>
                {{ $.TableOfContents }}
            </div>
        {{ end }}
        
        {{ .Content }}
    </div>

    
</article>