<header>
    
    <!-- icon -->
    <div class="icon">
        <a href="{{ .Site.BaseURL }}"><img src="{{ "me.jpg" | relURL }}" alt="me"></a>
    </div>

    <!-- name -->
    <div class="name">
        <a href="{{ .Site.BaseURL }}">Yu-Cheng Huang</a>
    </div>

    <!-- navigation/menu -->
    <div class="menu">
        <a href="{{ `about.html` | relURL }}">ABOUT</a>
        <a href="{{ `categories.html` | relURL }}">CATEGORY</a>
        <a href="{{ `tags.html` | relURL }}">TAG</a>
    </div>

</header>