<header>
    
    <!-- icon -->
    <div class="icon">
        <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.avatar | relURL }}" alt="me"></a>
    </div>

    <!-- name -->
    <div class="name">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>

    <!-- navigation/menu -->
    <div class="menu">
        <a href="{{ `abouts.html` | relURL }}">ABOUT</a>
        <a href="{{ `categories.html` | relURL }}">CATEGORY</a>
        <a href="{{ `tags.html` | relURL }}">TAG</a>
    </div>

</header>