{{ define "title" }}
    Categories | {{ .Site.Title }}
{{ end }}

{{ define "content" }}
    <div class="list">
        <div class="taxonomy entry">
            <span>Categories</span>
        </div>

        {{ range $k, $v := .Data.Terms.ByCount }}
            <div class="entry">
                <span class="title">
                    <a href="{{ $.Data.Plural }}/{{ $v.Name | urlize }}.html">{{ $v.Name }}</a>
                </span>
                <span class="info">{{ $v.Count }} articles </span>
            </div>
        {{ end }}
    </div>
{{ end }}